$special_font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    max-width: 448px;
    margin: 50px auto;
    min-height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -5px;
    border: 1px solid rgb(226, 232, 240);
    padding: 32px;
    font-family: $special_font;

    &__link {
        font-size: 14px;
        text-align: center;

        span {
            color: rgb(100, 116, 139);
        }

        a {
            text-decoration: none;
            color: rgb(14, 165, 233)
        }
    }

    &__content {
        text-align: center;

        h1 {
            font-size: 36px;
            font-weight: 700;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right, rgb(14, 165, 233), rgba(14, 165, 233, 0.7));
            margin-bottom: 5px;
            line-height: 42px;
        }

        p {
            color: #627187;
            font-size: 14px;
        }
    }

    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__label {
            color: rgb(2, 8, 23);
            margin-bottom: 5px;
            font-size: 14px;
        }

        &__input {
            margin-bottom: 20px;
            padding: 8px 12px;
            border-radius: 5px;
            border: 0.1px solid #0ea5e94d;
            font-family: inherit;
        }

        &__code-button,
        &__guest-button {
            padding: 12px 18px;
            border-radius: 5px;
            font-size: 14px;
            border-width: 0;
            transition-duration: 0.3s;
            transition-property: background-color;
        }

        &__code-button {
            color: white;
            background-color: rgb(14, 165, 233);
        }

        &__code-button:hover {
            background-color: #0ea5e9e6;
        }

        &__split {
            text-align: center;
            border: none;
            border-top: 2px double #C7D0DB;
            overflow: visible;
            color: #64748b;
            font-size: 13px;
            margin: 25px 0 6px 0;

            &::after {
                content: 'OR';
                position: relative;
                top: -10px;
                background-color: white;
                padding: 0 6px;
            }
        }

        &__guest-button {
            color: black;
            background-color: white;
            border: 0.7px solid rgb(226, 232, 240);
        }

        &__guest-button:hover {
            background-color: rgba(14, 165, 233, 0.1);
        }
    }
}

// Доделать инпут с краями плавными голубового цвета (смотреть на макете)